<template>
  <div class='box' v-if="events && events.length">
    <ul>
      <list v-for='event in events' :event='event' :key="event.id"></list>
    </ul>
  </div>
</template>

<style lang="scss">
.box {
  margin: 5% auto;
  max-width: 80%;

  ul {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .box {
    max-width: 95vw;
  }
}

</style>

<script>
/*eslint no-console:0*/
'use strict';
import list from './list.vue';
export default {
  props: ['event'],
  data() {
    return {
      location: '',
      events: []
    };
  },
  methods: {
    singleData() {
      this.events.forEach(data => {
        console.log(data);
      });
    },
    getEvents() {
      const self = this;
      fetch(`http://192.168.0.197:5000/api?city=${this.location}`)
        .then(data => data.json())
        .then((data) => {

          for (let i = 1; i <= data.page_count; i++) {
            fetch(`http://192.168.0.197:5000/api/pages?city=${this.location}&page_number=${i}`)
              .then(data => data.json())
              .then(data => {
                data.events.event.forEach(data => {
                  self.events.push(data);
                });
              });
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  created() {
    console.log('yaaah');
    fetch('http://ip-api.com/json')
      .then(data => data.json())
      .then((data) => {
        this.location = data.city;
        this.getEvents();
      });
  },
  components: {
    list
  }
};

</script>