<template>
  <div class="box">
    <md-card md-with-hover>
      <md-card-header>
        <md-avatar class="md-large" v-if="img.exists">
          <img :src="img.url" alt="People">
        </md-avatar>
        <div class="md-title" v-if="event.title" v-html="event.title" />
      </md-card-header>
  
      <md-card-content>
        <p v-if="event.description" v-html="event.description" />
      </md-card-content>
      <md-card-header>
        <div class="md-subhead">
          Where :
          <br> {{event.venue_name}}
          <p v-if="event.venue_address">Address : {{event.venue_address}}</p>
          <p v-else>Address : Not available</p>
        </div>
      </md-card-header <md-card-actions>
      <md-button :href="event.url">More Info</md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>
<style lang='scss'>

</style>
<script>
/*eslint no-console:0*/
export default {
  data() {
    return {
      description: this.event.description ? this.event.description : false,
      img: {
        exists: '',
        height: 0,
        width: 0,
        url: ''
      }
    };
  },
  props: ['event'],
  mounted() {
    this.img.exists = this.event.image ? true : false;
    this.img.height = this.img.exists && this.event.image.medium ? this.event.image.medium.height : 0;
    this.img.width = this.img.exists && this.event.image.medium ? this.event.image.medium.width : 0;
    this.img.url = this.img.exists && this.event.image.medium ? this.event.image.medium.url : '';
  },
  methods: {
    getInfo() {
      console.log(this.event);
    }
  }
};
</script>