//@import '~vue-material/dist/vue-material.css';


$grey: #e7e7e7;




body {
  background: url('../images/imgs.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  max-height: 100vh;
}
